
@activeColor: #e91d25;

.title-content-card{
  border: 1px solid #dddddd;
  border-color: transparent;

  &.active{
    .title-content-title{
      background:@activeColor ;
      .title{
        color: #fff !important;
      }
      .more{
        color: #fff !important;
      }

    }
  }
  
  .title-content-title{
    border-bottom: 1px solid #dddddd;
    height: 40px;
    display: flex;
    justify-content: space-between;

    .title{
      line-height: 40px;
      color: @activeColor;
      font-size: 18px;
      padding-left: 28px;
      font-weight: bold;
    }
    .more{
      cursor: pointer;
      line-height: 40px;
      font-size: 13px;
      padding-right: 15px;
      &:hover{
        color: @activeColor;
      }
    }
  }
  
  .content-card{
    padding: 10px;
  }
}