
@activeColor: #e91d25;

.detail-home-layout{
    width: 100%;

    /*顶部信息*/
    .top-info-box{
        height: 120px;

    }
    /*菜单*/
    .menu-wrap{
      color: #fff;
    }

    /*中间内容*/
    .detail-layout-content{
        position: relative;
        padding: 20px 0;
        width: 100%;
        background: url('/resource/image/bg.jpg') repeat;
        background-position: 5px center;

        .detail-content{
          border-top: 4px solid @activeColor;
          background: #fff;
          padding: 15px 0px;
        }
        
        .back-home{
            position: absolute;
            right: 6px;
            top: -34px;
            cursor: pointer;
            font-size: 16px;
            color: @activeColor;
            cursor: pointer;
        }
        

        //主体样式 
        .detail-view-page{

            .detail-view-wrap{
                width: 100%;
                height: auto;
                display: flex;
                .left{
                  width: 320px;
                  height: auto;
                  
                  .img-box{
                    width: 320px;
                    height: 420px;
                    border: 1px solid #ececec;
                    padding: 15px;
              
                    img{
                      width: 290px;
                      height: 390px;
                    }
                  }
                }
              
                .right{
                  flex: 1;
                  padding: 15px 0 15px 15px;
                  
                }
            }
          
           
        }
    }

    /*底部*/
    .home-layout-footer{
      background: @activeColor;
      color: #fff;
      height: 90px !important;
    }
}