

.detail-view-page{
  display: flex;

  .left{
    width: 200px;
    height: auto;

    .img-box{
      width: 200px;
      height: 200px;

      img{
        width: 100%;
        height: 200%;
      }
    }
  }

  .right{
    width: calc(~"100% - 200px");
    height: auto;
  }
}